<style type="text/css">
#overlay {
    position: fixed;
    left: 1%;
    top: 1%;
    padding: 25px; 
    border: 2px solid black;
    background-color: #ffffff;
    width: 98%;
    height: 98%;
    z-index: 100;
    overflow: scroll;
}
#fade {
    position: fixed;
    left: 0%;
    top: 0%;
    background-color: black;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 90;
}

.friend-buttons {
  margin: 5px;
}
</style>
<div id="overlay" ng-show="display">
        <div class="row">
        <div class="col-sm-10"><h1>{{friend.displayname}}</h1></div>
        <div class="col-sm-2"><a ng-href="{{friend.profileurl}}" class="pull-right"><img title="Profile image" class="img-circle img-responsive" ng-src="{{friend.avatarmd}}"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"><!--left col-->
          <ul class="list-group">
            <li class="list-group-item text-muted">Profile</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Display Name</strong></span> {{friend.displayname}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong> Age</strong></span> {{friend.age}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong> Info</strong></span> <br/>{{friend.info}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong> Gamer Type</strong></span> {{friend.type}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong> Timezone</strong></span> {{friend.timezone}}</li>
          </ul>         
        </div>
        <div class="col-sm-9">
            <h2><span class="text-primary">Subject: </span>{{subject}}</h2>
            <h2><span class="text-primary">Message: </span><small>{{message}}</small></h2>
            <button class="btn btn-success" ng-click="messageReply()">Reply</button>
            <button class="btn btn-warning" ng-click="cancelReply()">Close</button>
            <button class="btn btn-danger" ng-click="deleteMessage()">Delete message</button>
            <div ng-show="replyActive">
              <br />
              <input ng-model="rSubject" type="text" placeholder="Subject">
              <br />
              <textarea ng-model="rMessage" placeholder="Enter a message..."></textarea>
              <button ng-click="sendMessage()" class="btn btn-success">Send reply</button>
            </div>
        </div>
    </div>
</div>
<div id="fade" ng-show="display"></div>