<div class="col-xs-12 col-md-6 pull-left text-center">
	<h1 class="lobster players">Player 1</h1>
	<div class="player1">
	<h1 class="find-name-push"><strong>{{user.displayname}}</strong></h1>
    	<a href="{{user.profileurl}}"/><img title="Profile image" ng-src="{{user.avatarlg}}"></a>
    </div>
</div>
<div class="col-xs-12 col-md-6 pull-right">
	<h1 class="text-center lobster players">Player 2</h1>
	<div slide-source="gamer in matchedGamers" class="slide-viewer" next-arrow-class="rightarrow" previous-arrow-class="leftarrow">
	    <h1 class="find-name-push"><strong>{{gamer.displayname}}</strong></h1>
	    <div ng-show="displayButtons"><h3><strong>{{gamer.age}} years old</strong></h3></div>
	    <div ng-show="displayButtons"><h4><strong>{{gamer.percentage.toFixed(2)}}% match</strong></h4></div>
	    <br />
	    <div ng-click="showGamer(gamer)"><img class="pointer shadow-image" ng-src="{{gamer.avatarlg}}" /></div><br/>
	    <p ng-show="displayButtons"><strong>{{gamer.info.slice(0,20)}}...</strong></p>
	    <div ng-show="displayButtons">
		    <div ng-click="friendRequest(gamer)" class="btn btn-primary">Send friend request</div>
		    <div ng-click="doNotShow(gamer)"class="btn btn-danger">Do not show again</div>
		    <div ng-click="skip(gamer)" class="btn btn-warning">Skip</div>
	    </div>
	</div>
</div>