<div class="col-xs-12 col-md-6 pull-left text-center">
	<h1 class="lobster players">You</h1>
	<div class="player1">
	<h1 class="find-name-push"><strong>{{user.displayname}}</strong></h1>
    	<a href="{{user.profileurl}}"/><img title="Profile image" ng-src="{{user.avatarlg}}"></a>
    </div>
</div>
<div class="col-xs-12 col-md-6 pull-right">
	<h1 class="text-center lobster players">Player 2</h1>
	<div slide-source="gamer in matchedGamers" class="slide-viewer" next-arrow-class="icon-rightarrow" previous-arrow-class="icon-leftarrow">
	    <h1 class="find-name-push"><strong>{{gamer.displayname}}</strong></h1>
	    <h3><strong>{{gamer.age}} years old</strong></h3>
	    <h4><strong>{{gamer.percentage}}% match</strong></h4>
	    <br />
	    <img class="pointer" ng-src="{{gamer.avatarlg}}" /><br/>
	    <p><strong>{{gamer.info.slice(0,20)}}...</strong></p>
	    <div class="btn btn-primary">Send friend request</div>
	    <div class="btn btn-danger">Do not show again</div>
	    <div class="btn btn-warning">Skip</div>
	</div>
</div>