<div class="col-xs-12 col-md-6 pull-left players text-center">
	<h2>You</h2>
	<div class="player1">
	<h1>aaronrumery</h1>
    	<a href="http://steamcommunity.com/profiles/76561198160257610/"/><img title="Profile image" src="http://media.steampowered.com/steamcommunity/public/images/avatars/6a/6a351d2a784c62067444098324563127001100ec_full.jpg"></a>
    </div>
</div>
<div class="col-xs-12 col-md-6 pull-right players">
	<h2 class="text-center">Player 2</h2>
	<div slide-source="slide in slides" class="slide-viewer" next-arrow-class="icon-rightarrow" previous-arrow-class="icon-leftarrow">
	    <h1>{{slide.Title}}</h1>
	    <h2>Display name: {{slide.name}}</h2>
	    <img style="width: 150px; height: 150px"src="{{slide.profile}}" alt="" /><br/>
	    <p>{{slide.bio}}</p>
	    <div class="btn btn-success">Friend request</div>
	    <div class="btn btn-danger">Do not show again</div>
	    <div class="btn btn-warning">Skip</div>
	</div>
</div>