<div class="row">
		<h1 class="text-center text-success login-title lobster">GamerAlly</h1>
		<p class="text-center lead text-success lobster">Making gamer friends for life</p>
        <div class="form-signin">
            <form>  
                <div class="text-center steam-button" type="submit">
                    <a href="/auth/steam"><img src="http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_large_border.png" width="150px" height="75px"  border="0"/></a>
                    <h5><a class="signup-text" target="_blank" href="https://store.steampowered.com/join/">Signup for Steam</a></h5>
                </div>
            </form>
        </div>
</div>