	<div class="row">
  		<div class="col-sm-10"><h1>aaronrumery</h1></div>
    	<div class="col-sm-2"><a href="http://steamcommunity.com/profiles/76561198160257610/" class="pull-right"><img title="Profile image" class="img-circle img-responsive" src="http://media.steampowered.com/steamcommunity/public/images/avatars/6a/6a351d2a784c62067444098324563127001100ec_medium.jpg"></a></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
          <ul class="list-group">
            <li class="list-group-item text-muted">Profile</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Display Name</strong></span> {{user.displayname}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong> Age</strong></span> {{user.age}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong> Bio</strong></span> <br/>{{user.bio}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong> Gamer Type</strong></span> {{user.type}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Last seen</strong></span> Yesterday</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span> 2.13.2014</li>   
          </ul>             
          <div class="panel panel-default">
            <div class="panel-heading">Steam Profile<i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a target="_blank" href="http://steamcommunity.com/profiles/76561198160257610/">Go to Steam</a></div>
          </div>
          
          
          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Incoming Friend Requests</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Sent Friend Requests</strong></span> 13</li>
          </ul> 
        </div>
    	<div class="col-sm-9">
          <ul class="nav nav-tabs">
            <li class="active"><a data-target="#curgames" data-toggle="tab">Current Online Games</a></li>
            <li><a data-target="#newgames" data-toggle="tab">Add new games</a></li>
            <li><a data-target="#friends" data-toggle="tab">Friends</a></li>
            <li><a data-target="#messages" data-toggle="tab">Messages</a></li>
            <li><a data-target="#settings" data-toggle="tab">Settings</a></li>
          </ul>   
          <div class="tab-content">
            <div class="tab-pane active" id="curgames">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Cover Art</th>
                      <th>Game</th>
                      <th>Time Available</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="game in user.games">
                      <td>1</td>
                      <td>{{game.title}}</td>
                      <td>{{game.avail}}</td>
                    </tr>
                  </tbody>
                </table>
              </div><!--/table-resp-->
             </div><!--/tab-pane-->
             <div class="tab-pane" id="newgames">
                 <div class="row">
                        <form class="form-search text-center">
                              <div class="input-append g-search">
                                  <input ng-model="gameTitle" type="text" class="search-query">
                                  <div ng-click="searchGame()" class="btn btn-success">Search</div>
                              </div>
                        </form>
                    <div ng-repeat="game in sGames" class="col-sm-6 col-md-4 row-fluid">
                      <div class="thumbnail text-center">
                        <img src="{{game.thumb}}" />
                        <div class="caption">
                          <h3>{{game.title}}</h3>
                          <p>{{game.short_description}}</p>
                          <p><a href="#" class="btn btn-primary" role="button">Add game</a></p>
                        </div>
                      </div>
                    </div>
                </div>
             </div>
             <div class="tab-pane" id="messages">
                <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Display Name</th>
                      <th>Time Sent</th>
                      <th>Message</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>                 
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Table cell</td>
                      <td>Table cell</td> 
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                </table>
              </div><!--/table-resp-->
             </div><!--/tab-pane-->
             <div class="tab-pane" id="friends">
                  <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <!--Will do profile image in th#-->
                      <th>#</th>
                      <th>Display Name</th>
                      <th>Last Seen</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Table cell</td>
                      <td>Table cell</td>                 
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Table cell</td>
                      <td>Table cell</td> 
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                     <tr>
                      <td>8</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>9</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>10</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                </table>
              </div><!--/table-resp-->
             </div>
             <div class="tab-pane" id="settings">
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">
                        <div class="col-xs-12">
                          <div class="alert alert-info">
                              <p>Your display name and profile image can be changed within your Steam account</p>
                          </div>
                        </div>
                      </div>
                      <div class="form-group"> 
                          <div class="col-xs-6">
                              <label for="type"><h4>Gamer Type </h4></label>
                              <select id="type" class="selectpicker">
                                <option>Casual</option>
                                <option>Hardcore</option>
                                <option>Pro</option>
                              </select>
                          </div>
                      </div>
                      <div class="form-group">
                        <div class="col-xs-6">
                          <label for="age"><h4>Age </h4></label>
                          <input id="age" type="number" size="6" name="age" min="15" max="100" value="21">
                        </div>
                      </div>
                      <div class="form-group">   
                          <div class="col-xs-12">
                              <label for="bio"><h4>Bio </h4></label>
                              <textarea class="form-control" name="bio" id="bio" placeholder="Bio, 300 character limit" title="Bio, limit 300 characters"></textarea>
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	</form>
              </div>
               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
