/* Main CSS */
html,
body {
  height: 100%;
}

textarea {
    resize: vertical;
    width: 90%;
}

td th {
    cursor: pointer;
    color: #000000;
}

a {
    cursor: pointer;
}

strong {
  color: #000000;
}

.pointer {
    cursor: pointer;
}

.clearfix {
    clear: both;
}

.lobster {
    font-family: 'Lobster', cursive;
}

.title {
    font-size: 30px;
}
/* Navbar CSS */

.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}

.menu-item {
    font-size: 50px;
}

#navbar li .green {
  color: #93C54B;
}

#navbar li .black {
  color: #000000;
}

#navbar li .green:hover {
  color: #FFFFFF;
}

#navbar li .black:hover {
  color: #FFFFFF;
}

#black-fill .black-fill {
  background: #000000;
  font-size: 24px;
  color: #93C54B;
}

.nav.nav-tabs li a {
  color: #000000;
  background: #93C54B;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background: #FFFFFF;
  color: #000000;
}

/* Login form CSS */

.login-title {
    font-size: 8vw;
    text-shadow: 2px 2px #2F3030;
}

.lead {
    text-shadow: 2px 2px #2F3030;
    font-size: 30px;
}

.form-signin {
  margin-top: 26%;
}

.signup-text {
    text-shadow: 2px 2px #2F3030;
    font-weight: bolder;
}

.steam-back { 
    background: url('../img/platforms.jpg') no-repeat center;
    background-color: #000000;
}

/*Game search area*/
.g-search {
    margin-top: 20px;
    margin-bottom: 20px;
}

.game-tiles {
    height: 600px;
}

/* Slide viewer & find gamer area */
.players {
    height: auto;
}

.player1 {
    height: 400px;
    margin-top: 25px;
    background-color: #DDDDDD;
}


/*Sticky footer*/
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#footer {
  height: 60px;
}

.footer-text {
    text-shadow: 2px 2px #2F3030;
    font-weight: bolder;
}
